body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width img{
    width: 100%;
}